@import url("../palette.css");

#terminal-logo {
  color: var(--sky-blue-crayola);
}

#header-title {
  color: var(--opera-mauve);
  font-family: "Fira Mono";
  font-size: 50px;
  font-weight: 700;
  -webkit-text-stroke: 0.7px var(--rich-black);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle-hamburger {
  background-color: var(--sky-blue-crayola);
}
.link-icon {
  color: var(--han-blue);
}
.header-link {
  font-size: 16px;
  font-family: "Fira Mono", monospace;
}

@media only screen and (max-width: 992px) {
  #header-title {
    font-size: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .header-link {
    font-size: 24px;
  }
}
