#home-greeting {
  font-family: "Raleway";
  font-size: 26px;
}

#home-pitch {
  font-size: 24px;
}

@media only screen and (max-width: 500px) {
  #home-pitch {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  #home-pitch {
    max-width: 600px;
    font-size: 28px;
  }

  #home-greeting {
    font-size: 32px;
  }
}
