@import url("./palette.css");

.skills-header {
  font-family: "Fira Mono";
  text-align: center;
  font-weight: 700;
  color: var(--pastel-pink);
  -webkit-text-stroke: 0.5px var(--rich-black);
}

.skills-container {
  max-width: 500px;
}

.skills {
  li {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    vertical-align: bottom;
    position: relative;
  }
}

.skill-logo {
  margin-top: 4.3%;
}

@media only screen and (min-width: 500px) and (max-width: 991px) {
  .skills {
    li {
      padding-left: 25%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .skills-container {
    max-width: 320px;
  }
}

// @media only screen and (max-width: 500px) {
//   .skills {
//     li {
//     }
//   }
// }

@media only screen and (min-width: 992px) {
  .skills-container {
    margin-left: 90px;
  }

  .skills-header {
    font-size: 30px;
  }

  .skills {
    li {
      font-size: 26px;
    }
  }

  .skill-logo {
    font-size: 20px;
  }
}
