@import url("../palette.css");

.skills-header {
  font-family: "Fira Mono";
  text-align: center;
  font-weight: 700;
  color: var(--opera-mauve);
}

.skills-container {
  max-width: 500px;
}

.skills {
  li {
    font-size: 20px;
    list-style-type: none;
    display: flex;
  }
}

.skill-logo {
  vertical-align: bottom;
}

@media only screen and (min-width: 500px) and (max-width: 991px) {
  .skills {
    li {
      padding-left: 25%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .skills {
    li {
      padding-left: 5%;
    }
  }
}

@media only screen and (min-width: 992px) {
  .skills-container {
    margin-left: 90px;
  }
}
