@import url("../util/palette.css");
.project {
  background-color: var(--space-cadet);
  border: solid 1px var(--dotnet-purple);
  color: var(--cultured);
  font-family: "Raleway";
  max-width: 650px;
}

.card-link {
  color: var(--ultra-violet);
  &:hover {
    color: var(--cultured);
  }
  &:active {
    color: var(--ultra-violet);
  }
}

@media only screen and (min-width: 992px) {
  .card-body,
  .card-title,
  .list-group-item {
    font-size: 1.2em;
  }
}
