@import url("../palette.css");

h1,
h3 {
  color: var(--opera-mauve);
  font-family: "Fira Mono";
  font-weight: 700;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: var(--sky-blue-crayola);
}

#toggle-hamburger {
  background-color: #bf90bb;
}

.nav-link {
  font-family: "Fira Mono";
}
